<div class="secondary">

#set($session = $rundata.getRequest().getSession())
<ul class="nav">
<!--
	<li class="first"><a href="/lwl/admin/add_province.htm">增加省份</a></li>

	<li><a href="/lwl/admin/add_area.htm">增加区域</a></li>
-->
    #if($session.getAttribute("userType") == 2)
	<li><a href="$!adminModule.setTarget('categoryAddressList.vm')">区域管理</a></li>
	#end
	<li><a href="$!adminModule.setTarget('shopList.vm')">店铺管理</a></li>
	#if($session.getAttribute("userType") == 2)
	<li><a href="$!adminModule.setTarget('classes_list.htm')">类别管理</a></li>
	<li><a href="$!adminModule.setTarget('emailList.vm')">邮箱管理</a></li>
	<li><a href="$!adminModule.setTarget('user_list.htm')">用户管理</a></li>
	<li><a href="$!adminModule.setTarget('phoneUserList.vm')">电话用户管理</a></li>
	<li><a href="$!adminModule.setTarget('area_authority_list.htm')">权限管理</a></li>
	<li><a href="$!adminModule.setTarget('helpModuleList.vm')">帮助管理</a></li>
	#end

</ul>

</div>